body {
  background-color: #aaa;
  color: #000;
  font-size: 40px;
}

div.sample-div {
  padding: 5px;
  text-align: center;
  background-color: #888;
  border-width: 5px;
  border-style: solid;
  border-color: #fff;
}

